@keyframes hoverButtonAfter {
	0% {
		transform: rotate(2deg);
		right: -12%;
		bottom: -24%;
	}
	55% {
		transform: rotate(0deg);
		right: -12%;
		bottom: -24%;
	}
	100% {
		transform: rotate(0deg); //scale(1.2);
		bottom: 0;
		right: 0;
	}
}

@keyframes hoverButtonBefore {
	0% {
		transform: rotate(-2deg);
		left: -12%;
		top: -24%;
	}
	55% {
		transform: rotate(0deg);
		left: -12%;
		top: -24%;
	}
	100% {
		transform: rotate(0deg); //scale(1.2);
		top: 0;
		left: 0;
	}
}
@keyframes hoverButton {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.07);
	}
}
@keyframes showMe {
	0% {
		transform: translate(-50%, 30%);
		opacity: 0;
	}
	40% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.8;
		transform: translateY(-50%, 0%);
	
	}
}
