@media (min-width: 576px) {
	.nav {
		&__logo {
			font-size: 2.7rem;
		}
	}

	.header {
		&__title {
			font-size: 7rem;
		}
		&__describe {
			font-size: 3rem;
		}

		&__button {
			font-size: 2.5rem;
			margin-top: 7.5%;
		}

		&__bgDots {
			width: 350px;
			right: -35%;
			top: 25%;
		}
		&__bgDots2 {
			width: 350px;
			left: -22%;
			top: 35%;
		}
		&__photo {
			height: 60vh;
			width: 80%;
			transform: translateX(-35%);
		}

		.projects {
			&__projectCard {
				margin-left: 3em;
				margin-right: 3em;
				&__title {
					font-size: 3rem;
				}
				&__text {
					font-size: 2.2rem;
				}

				&__button {
					font-size: 2.4rem;
					padding: 0.5em 2.4em;
				}
			}
		}
	}
}
