@media (min-width: 1200px) {



	.sideNav{
		transform: translate(calc(100% - 45px), -50%);
		font-size: 2.4rem;
		&__element{


			.squareBorder{
				width: 24px;
				height: 24px;
				margin-right: 10px;
			}
		}
	}

	.title {
		font-size: 2.8rem;
		&__square {
			height: 45px;
			width: 45px;
			&::after {
				width: 58px;
				height: 58px;
			}
		}
	}

	.header {
		display: flex;
		max-width: 1500px;
		position: relative;
		padding-left: 8em;
		padding: 10em 0 15em 9em;

		&__bgPhoto {
			position: absolute;
			background-color: #191927;
			right: 0%;
			top: 0%;
			bottom: 0%;
			height: 100%;
			width: 50%;
		}
		&__photo {
			margin: 0;
			padding: 0;
			left: 41%;
			background-blend-mode: luminosity;
			filter: grayscale(75%) contrast(111%) hue-rotate(3deg);
			//background-color: #191927;

			height: 80%;
			width: 120%;
			transform: translateX(-50%);
			z-index: 5;
		}

		&__title {
			font-size: 9.5rem;
			letter-spacing: 3px;
			margin-left: 3.5rem;
			width: 50%;
			z-index: 10;
		}
		&__describe {
			width: 50%;
			margin-left: 3.5rem;
			letter-spacing: 1px;
			z-index: 10;
		}
		&__bgDots {
			width: auto;
			height: 370px;
			top: 27%;
			right: 32%;
		}
		&__bgDots2 {
			width: auto;
			height: 370px;
			top: 50%;
			left: -16%;
		}
		&__button {
			font-size: 3.2rem;
			margin-top: 4em;
			margin-right: 55%;
		}
		&::before {
			content: '';
			background-color: red;
			width: 200px;
			height: 100%;
		}
	}

	.quote {
		h3 {
			font-size: 3.2rem;
		}
		p {
			font-size: 3.6rem;
		}

		&__quoteIconLeft {
			left: 15%;
		}

		&__quoteIconRight {
			right: 15%;
		}

		&__quoteIcon {
			width: 100px;
		}
	}
	.abilities {
		&__box {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			gap: 5rem 0;
			&__card {
				height: 210px;
				width: 165px;
				&__html {
					grid-column: 1/2;
					grid-row: 2/4;
				}
				&__css {
					grid-column: 2/3;
					grid-row: 1/3;
				}
				&__sass {
					grid-column: 2/3;
					grid-row: 3/5;
				}
				&__javaScript {
					grid-column: 3/4;
					grid-row: 2/4;
				}
				&__typeScript {
					grid-column: 4/5;
					grid-row: 1/3;
				}
				&__react {
					grid-column: 4/5;
					grid-row: 3/5;
				}
				&__git {
					grid-column: 5/6;
					grid-row: 2/4;
				}
			}
		}
	}
}
